* {margin: 0; font-weight: normal;}
html {height: 100%;}
body {height: 100%;}
a {color: #000;}
a:hover {color: #bababa; transition: 0.3s; text-decoration: none;}

.center {display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;}
.center div {text-align: center;}
.center div h1 {font-size: 40px;}
.center div p, .center div a {font-size: 20px;}

#go, #url {font-family: "Consolas"; margin: 0 15px; height: 25px;}
